@charset "utf-8";

/* CSS reset 重置 */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border:0; }

/* 文字排版 */

.f0 { font-size: 0px; }
.f10 { font-size: 10px; }
.f11 { font-size: 11px; }
.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }
.f15 { font-size: 15px; }
.f16 { font-size: 16px; }
.f17 { font-size: 17px; }
.f18 { font-size: 18px; }
.f19 { font-size: 19px; }
.f20 { font-size: 20px; }
.f21 { font-size: 21px; }
.f22 { font-size: 22px; }
.f23 { font-size: 23px; }
.f24 { font-size: 24px; }
.f12e { font-size:1.2em; }
.f15e { font-size:1.5em; }
.f18e { font-size:1.8em; }
.f20e { font-size:2em; }
.f25e { font-size:2.5em; }

.fb { font-weight: bold; }
.fn { font-weight: normal; }

.t1 { text-indent: 1em; }
.t2 { text-indent: 2em; }
.t3 { text-indent: 3em; }
.t4 { text-indent: 4em; }
.t5 { text-indent: 5em; }
.t6 { text-indent: 6em; }
.t7 { text-indent: 7em; }
.t8 { text-indent: 8em; }
.t9 { text-indent: 9em; }

.lh150 { line-height: 150%; }
.lh180 { line-height: 180%; }
.lh200 { line-height: 200%; }

.lh10 { line-height: 10px; }
.lh11 { line-height: 11px; }
.lh12 { line-height: 12px; }
.lh13 { line-height: 13px; }
.lh14 { line-height: 14px; }
.lh15 { line-height: 15px; }
.lh16 { line-height: 16px; }
.lh17 { line-height: 17px; }
.lh18 { line-height: 18px; }
.lh19 { line-height: 19px; }
.lh20 { line-height: 20px; }
.lh21 { line-height: 21px; }
.lh22 { line-height: 22px; }
.lh23 { line-height: 23px; }
.lh24 { line-height: 24px; }
.lh25 { line-height: 25px; }
.lh26 { line-height: 26px; }
.lh27 { line-height: 27px; }
.lh28 { line-height: 28px; }
.lh29 { line-height: 29px; }
.lh30 { line-height: 30px; }
.lh31 { line-height: 31px; }
.lh32 { line-height: 32px; }
.lh33 { line-height: 33px; }
.lh34 { line-height: 34px; }
.lh35 { line-height: 35px; }
.lh36 { line-height: 36px; }
.lh37 { line-height: 37px; }
.lh38 { line-height: 38px; }
.lh39 { line-height: 39px; }
.lh40 { line-height: 40px; }
.lh15em { line-height: 1.5em; }
.lh16em { line-height: 1.6em; }
.lh18em { line-height: 1.8em; }
.lh20em { line-height: 2em; }

.unl { text-decoration: underline; }
.no_unl { text-decoration: none; }


/* 定位 */

.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }

.bc { margin: 0 auto; }
.fl { float: left; display: inline; }
.fr { float: right; display: inline; }

.cb { clear: both; }
.cl { clear: left; }
.cr { clear: right; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.Clearfix { display: block; }

.vm { vertical-align: middle; }
.pr { position: relative; }
.pa { position: absolute; }
.abs-right { position: absolute; right: 0; }
.zoom { zoom: 1; }
.hidden { visibility: hidden; }
.none { display: none; }


/*长度高度*/
.w1 { width:1px;}
.w2 { width:2px;}
.w3 { width:3px;}
.w4 { width:4px;}
.w5 { width:5px;}
.w6 { width:6px;}
.w7 { width:7px;}
.w8 { width:8px;}
.w9 { width:9px;}
.w10 { width: 10px; }
.w20 { width: 20px; }
.w30 { width: 30px; }
.w40 { width: 40px; }
.w50 { width: 50px; }
.w60 { width: 60px; }
.w70 { width: 70px; }
.w80 { width: 80px; }
.w90 { width: 90px; }
.w100 { width: 100px; }
.w110 { width: 110px; }
.w120 { width: 120px; }
.w130 { width: 130px; }
.w140 { width: 140px; }
.w150 { width: 150px; }
.w160 { width: 160px; }
.w170 { width: 170px; }
.w180 { width: 180px; }
.w190 { width: 190px; }
.w200 { width: 200px; }
.w210 { width: 210px; }
.w220 { width: 220px; }
.w230 { width: 230px; }
.w240 { width: 240px; }
.w250 { width: 250px; }
.w260 { width: 260px; }
.w270 { width: 270px; }
.w280 { width: 280px; }
.w290 { width: 290px; }
.w300 { width: 300px; }
.w310 { width: 310px; }
.w320 { width: 320px; }
.w330 { width: 330px; }
.w340 { width: 340px; }
.w350 { width: 350px; }
.w360 { width: 360px; }
.w370 { width: 370px; }
.w380 { width: 380px; }
.w390 { width: 390px; }
.w400 { width: 400px; }
.w410 { width: 410px; }
.w420 { width: 420px; }
.w430 { width: 430px; }
.w440 { width: 440px; }
.w450 { width: 450px; }
.w460 { width: 460px; }
.w470 { width: 470px; }
.w480 { width: 480px; }
.w490 { width: 490px; }
.w500 { width: 500px; }
.w510 { width: 510px; }
.w520 { width: 520px; }
.w530 { width: 530px; }
.w540 { width: 540px; }
.w550 { width: 550px; }
.w560 { width: 560px; }
.w570 { width: 570px; }
.w580 { width: 580px; }
.w590 { width: 590px; }
.w600 { width: 600px; }
.w610 { width: 610px; }
.w620 { width: 620px; }
.w630 { width: 630px; }
.w640 { width: 640px; }
.w650 { width: 650px; }
.w660 { width: 660px; }
.w670 { width: 670px; }
.w680 { width: 680px; }
.w690 { width: 690px; }
.w700 { width: 700px; }
.w710 { width: 710px; }
.w720 { width: 720px; }
.w730 { width: 730px; }
.w740 { width: 740px; }
.w750 { width: 750px; }
.w760 { width: 760px; }
.w770 { width: 770px; }
.w780 { width: 780px; }
.w790 { width: 790px; }
.w800 { width: 800px; }
.w810 { width: 810px; }
.w820 { width: 820px; }
.w830 { width: 830px; }
.w840 { width: 840px; }
.w850 { width: 850px; }
.w860 { width: 860px; }
.w870 { width: 870px; }
.w880 { width: 880px; }
.w890 { width: 890px; }
.w900 { width: 900px; }
.w910 { width: 910px; }
.w920 { width: 920px; }
.w930 { width: 930px; }
.w940 { width: 940px; }
.w950 { width: 950px; }
.w960 { width: 960px; }
.w970 { width: 970px; }
.w980 { width: 980px; }
.w990 { width: 990px; }
.w1000 { width: 1000px; }
.w { width: 100%; }
.w01e { width: 0.1em; }
.w02e { width: 0.2em; }
.w03e { width: 0.3em; }
.w04e { width: 0.4em; }
.w05e { width: 0.5em; }
.w08e { width: 0.8em; }
.w10e { width: 1em; }
.w12e { width: 1.2em; }
.w15e { width: 1.5em; }
.w18e { width: 1.8em; }
.w20e { width: 2em; }
.w25e { width: 2.5em; }
.w30e { width: 3em; }
.w40e { width: 4em; }
.w50e { width: 5em; }
.w60e { width: 6em; }
.w70e { width: 7em; }
.w80e { width: 8em; }
.w90e { width: 9em; }


.h0 { height: 0px; }
.h1 { height: 1px; }
.h2 { height: 2px; }
.h3 { height: 3px; }
.h4 { height: 4px; }
.h5 { height: 5px; }
.h6 { height: 6px; }
.h7 { height: 7px; }
.h8 { height: 8px; }
.h9 { height: 9px; }
.h10 { height: 10px; }
.h12 { height: 12px; }
.h14 { height: 14px; }
.h16 { height: 16px; }
.h18 { height: 18px; }
.h20 { height: 20px; }
.h22 { height: 22px; }
.h24 { height: 25px; }
.h26 { height: 26px; }
.h28 { height: 28px; }
.h30 { height: 30px; }
.h32 { height: 32px; }
.h34 { height: 34px; }
.h36 { height: 36px; }
.h38 { height: 38px; }
.h40 { height: 40px; }
.h42 { height: 42px; }
.h44 { height: 44px; }
.h46 { height: 46px; }
.h48 { height: 48px; }
.h50 { height: 50px; }
.h52 { height: 52px; }
.h54 { height: 54px; }
.h56 { height: 56px; }
.h58 { height: 58px; }
.h60 { height: 60px; }
.h70 { height: 70px; }
.h80 { height: 80px; }
.h90 { height: 90px; }
.h100 { height: 100px; }
.h120 { height: 120px; }
.h140 { height: 140px; }
.h160 { height: 160px; }
.h180 { height: 180px; }
.h200 { height: 200px; }
.h240 { height: 240px; }
.h300 { height: 300px; }
.h400 { height: 400px; }
.h { height: 100%; }
.h01e { height: 0.1em; }
.h02e { height: 0.2em; }
.h03e { height: 0.3em; }
.h04e { height: 0.4em; }
.h05e { height: 0.5em; }
.h08e { height: 0.8em; }
.h10e { height: 1em; }
.h12e { height: 1.2em; }
.h15e { height: 1.5em; }
.h18e { height: 1.8em; }
.h20e { height: 2em; }
.h25e { height: 2.5em; }
.h30e { height: 3em; }
.h40e { height: 4em; }
.h50e { height: 5em; }
.h60e { height: 6em; }
.h70e { height: 7em; }
.h80e { height: 8em; }
.h90e { height: 9em; }


/*边距*/
.m1 { margin: 1px; }
.m2 { margin: 2px; }
.m3 { margin: 3px; }
.m4 { margin: 4px; }
.m5 { margin: 5px; }
.m6 { margin: 6px; }
.m7 { margin: 7px; }
.m8 { margin: 8px; }
.m9 { margin: 9px; }
.m10 { margin: 10px; }
.m11 { margin: 11px; }
.m12 { margin: 12px; }
.m13 { margin: 13px; }
.m14 { margin: 14px; }
.m15 { margin: 15px; }
.m16 { margin: 16px; }
.m17 { margin: 17px; }
.m18 { margin: 18px; }
.m19 { margin: 19px; }
.m20 { margin: 20px; }
.m22 { margin: 22px; }
.m24 { margin: 23px; }
.m26 { margin: 26px; }
.m28 { margin: 28px; }
.m30 { margin: 30px; }
.m35 { margin: 35px; }
.m40 { margin: 40px; }
.m50 { margin: 40px; }
.m60 { margin: 60px; }

.m01e { margin: 0.1em; }
.m02e { margin: 0.2em; }
.m03e { margin: 0.3em; }
.m04e { margin: 0.4em; }
.m05e { margin: 0.5em; }
.m08e { margin: 0.8em; }
.m10e { margin: 1em; }
.m12e { margin: 1.2em; }
.m15e { margin: 1.5em; }
.m18e { margin: 1.8em; }
.m20e { margin: 2em; }
.m25e { margin: 2.5em; }
.m30e { margin: 3em; }
.m40e { margin: 4em; }
.m50e { margin: 5em; }
.m60e { margin: 6em; }
.m70e { margin: 7em; }
.m80e { margin: 8em; }
.m90e { margin: 9em; }


.mt1 { margin-top: 1px; }
.mt2 { margin-top: 2px; }
.mt3 { margin-top: 3px; }
.mt4 { margin-top: 4px; }
.mt5 { margin-top: 5px; }
.mt6 { margin-top: 6px; }
.mt7 { margin-top: 7px; }
.mt8 { margin-top: 8px; }
.mt9 { margin-top: 9px; }
.mt10 { margin-top: 10px; }
.mt11 { margin-top: 11px; }
.mt12 { margin-top: 12px; }
.mt13 { margin-top: 13px; }
.mt14 { margin-top: 14px; }
.mt15 { margin-top: 15px; }
.mt16 { margin-top: 16px; }
.mt17 { margin-top: 17px; }
.mt18 { margin-top: 18px; }
.mt19 { margin-top: 19px; }
.mt20 { margin-top: 20px; }
.mt22 { margin-top: 22px; }
.mt24 { margin-top: 24px; }
.mt26 { margin-top: 26px; }
.mt28 { margin-top: 28px; }
.mt30 { margin-top: 30px; }
.mt32 { margin-top: 32px; }
.mt35 { margin-top: 35px; }
.mt38 { margin-top: 38px; }
.mt40 { margin-top: 40px; }
.mt42 { margin-top: 42px; }
.mt45 { margin-top: 45px; }
.mt48 { margin-top: 48px; }
.mt50 { margin-top: 50px; }
.mt60 { margin-top: 60px; }
.mt70 { margin-top: 70px; }
.mt80 { margin-top: 80px; }
.mt90 { margin-top: 90px; }
.mt100 { margin-top: 100px; }

.mt01e { margin-top: 0.1em; }
.mt02e { margin-top: 0.2em; }
.mt03e { margin-top: 0.3em; }
.mt04e { margin-top: 0.4em; }
.mt05e { margin-top: 0.5em; }
.mt08e { margin-top: 0.8em; }
.mt10e { margin-top: 1em; }
.mt12e { margin-top: 1.2em; }
.mt15e { margin-top: 1.5em; }
.mt18e { margin-top: 1.8em; }
.mt20e { margin-top: 2em; }
.mt25e { margin-top: 2.5em; }
.mt30e { margin-top: 3em; }
.mt40e { margin-top: 4em; }
.mt50e { margin-top: 5em; }
.mt60e { margin-top: 6em; }
.mt70e { margin-top: 7em; }
.mt80e { margin-top: 8em; }
.mt90e { margin-top: 9em; }


.mb1 { margin-bottom: 1px; }
.mb2 { margin-bottom: 2px; }
.mb3 { margin-bottom: 3px; }
.mb4 { margin-bottom: 4px; }
.mb5 { margin-bottom: 5px; }
.mb6 { margin-bottom: 6px; }
.mb7 { margin-bottom: 7px; }
.mb8 { margin-bottom: 8px; }
.mb9 { margin-bottom: 9px; }
.mb10 { margin-bottom: 10px; }
.mb11 { margin-bottom: 11px; }
.mb12 { margin-bottom: 12px; }
.mb13 { margin-bottom: 13px; }
.mb14 { margin-bottom: 14px; }
.mb15 { margin-bottom: 15px; }
.mb16 { margin-bottom: 16px; }
.mb17 { margin-bottom: 17px; }
.mb18 { margin-bottom: 18px; }
.mb19 { margin-bottom: 19px; }
.mb20 { margin-bottom: 20px; }
.mb22 { margin-bottom: 22px; }
.mb24 { margin-bottom: 24px; }
.mb26 { margin-bottom: 26px; }
.mb28 { margin-bottom: 28px; }
.mb30 { margin-bottom: 30px; }
.mb32 { margin-bottom: 32px; }
.mb35 { margin-bottom: 35px; }
.mb38 { margin-bottom: 38px; }
.mb40 { margin-bottom: 40px; }
.mb42 { margin-bottom: 42px; }
.mb45 { margin-bottom: 45px; }
.mb48 { margin-bottom: 48px; }
.mb50 { margin-bottom: 50px; }
.mb60 { margin-bottom: 60px; }
.mb70 { margin-bottom: 70px; }
.mb80 { margin-bottom: 80px; }
.mb90 { margin-bottom: 90px; }
.mb100 { margin-bottom: 100px; }

.mb01e { margin-bottom: 0.1em; }
.mb02e { margin-bottom: 0.2em; }
.mb03e { margin-bottom: 0.3em; }
.mb04e { margin-bottom: 0.4em; }
.mb05e { margin-bottom: 0.5em; }
.mb08e { margin-bottom: 0.8em; }
.mb10e { margin-bottom: 1em; }
.mb12e { margin-bottom: 1.2em; }
.mb15e { margin-bottom: 1.5em; }
.mb18e { margin-bottom: 1.8em; }
.mb20e { margin-bottom: 2em; }
.mb25e { margin-bottom: 2.5em; }
.mb30e { margin-bottom: 3em; }
.mb40e { margin-bottom: 4em; }
.mb50e { margin-bottom: 5em; }
.mb60e { margin-bottom: 6em; }
.mb70e { margin-bottom: 7em; }
.mb80e { margin-bottom: 8em; }
.mb90e { margin-bottom: 9em; }


.ml1 { margin-left: 1px; }
.ml2 { margin-left: 2px; }
.ml3 { margin-left: 3px; }
.ml4 { margin-left: 4px; }
.ml5 { margin-left: 5px; }
.ml6 { margin-left: 6px; }
.ml7 { margin-left: 7px; }
.ml8 { margin-left: 8px; }
.ml9 { margin-left: 9px; }
.ml10 { margin-left: 10px; }
.ml11 { margin-left: 11px; }
.ml12 { margin-left: 12px; }
.ml13 { margin-left: 13px; }
.ml14 { margin-left: 14px; }
.ml15 { margin-left: 15px; }
.ml16 { margin-left: 16px; }
.ml17 { margin-left: 17px; }
.ml18 { margin-left: 18px; }
.ml19 { margin-left: 19px; }
.ml20 { margin-left: 20px; }
.ml22 { margin-left: 22px; }
.ml24 { margin-left: 24px; }
.ml26 { margin-left: 26px; }
.ml28 { margin-left: 28px; }
.ml30 { margin-left: 30px; }
.ml32 { margin-left: 32px; }
.ml35 { margin-left: 35px; }
.ml38 { margin-left: 38px; }
.ml40 { margin-left: 40px; }
.ml42 { margin-left: 42px; }
.ml45 { margin-left: 45px; }
.ml48 { margin-left: 48px; }
.ml50 { margin-left: 50px; }
.ml60 { margin-left: 60px; }
.ml70 { margin-left: 70px; }
.ml80 { margin-left: 80px; }
.ml90 { margin-left: 90px; }
.ml100 { margin-left: 100px; }

.ml01e { margin-left: 0.1em; }
.ml02e { margin-left: 0.2em; }
.ml03e { margin-left: 0.3em; }
.ml04e { margin-left: 0.4em; }
.ml05e { margin-left: 0.5em; }
.ml08e { margin-left: 0.8em; }
.ml10e { margin-left: 1em; }
.ml12e { margin-left: 1.2em; }
.ml15e { margin-left: 1.5em; }
.ml18e { margin-left: 1.8em; }
.ml20e { margin-left: 2em; }
.ml25e { margin-left: 2.5em; }
.ml30e { margin-left: 3em; }
.ml40e { margin-left: 4em; }
.ml50e { margin-left: 5em; }
.ml60e { margin-left: 6em; }
.ml70e { margin-left: 7em; }
.ml80e { margin-left: 8em; }
.ml90e { margin-left: 9em; }


.mr1 { margin-right: 1px; }
.mr2 { margin-right: 2px; }
.mr3 { margin-right: 3px; }
.mr4 { margin-right: 4px; }
.mr5 { margin-right: 5px; }
.mr6 { margin-right: 6px; }
.mr7 { margin-right: 7px; }
.mr8 { margin-right: 8px; }
.mr9 { margin-right: 9px; }
.mr10 { margin-right: 10px; }
.mr11 { margin-right: 11px; }
.mr12 { margin-right: 12px; }
.mr13 { margin-right: 13px; }
.mr14 { margin-right: 14px; }
.mr15 { margin-right: 15px; }
.mr16 { margin-right: 16px; }
.mr17 { margin-right: 17px; }
.mr18 { margin-right: 18px; }
.mr19 { margin-right: 19px; }
.mr20 { margin-right: 20px; }
.mr22 { margin-right: 22px; }
.mr24 { margin-right: 24px; }
.mr26 { margin-right: 26px; }
.mr28 { margin-right: 28px; }
.mr30 { margin-right: 30px; }
.mr32 { margin-right: 32px; }
.mr35 { margin-right: 35px; }
.mr38 { margin-right: 38px; }
.mr40 { margin-right: 40px; }
.mr42 { margin-right: 42px; }
.mr45 { margin-right: 45px; }
.mr48 { margin-right: 48px; }
.mr50 { margin-right: 50px; }
.mr60 { margin-right: 60px; }
.mr70 { margin-right: 70px; }
.mr80 { margin-right: 80px; }
.mr90 { margin-right: 90px; }
.mr100 { margin-right: 100px; }

.mr01e { margin-right: 0.1em; }
.mr02e { margin-right: 0.2em; }
.mr03e { margin-right: 0.3em; }
.mr04e { margin-right: 0.4em; }
.mr05e { margin-right: 0.5em; }
.mr08e { margin-right: 0.8em; }
.mr10e { margin-right: 1em; }
.mr12e { margin-right: 1.2em; }
.mr15e { margin-right: 1.5em; }
.mr18e { margin-right: 1.8em; }
.mr20e { margin-right: 2em; }
.mr25e { margin-right: 2.5em; }
.mr30e { margin-right: 3em; }
.mr40e { margin-right: 4em; }
.mr50e { margin-right: 5em; }
.mr60e { margin-right: 6em; }
.mr70e { margin-right: 7em; }
.mr80e { margin-right: 8em; }
.mr90e { margin-right: 9em; }

.p1 { padding: 1px; }
.p2 { padding: 2px; }
.p3 { padding: 3px; }
.p4 { padding: 4px; }
.p5 { padding: 5px; }
.p6 { padding: 6px; }
.p7 { padding: 7px; }
.p8 { padding: 8px; }
.p9 { padding: 9px; }
.p10 { padding: 10px; }
.p11 { padding: 11px; }
.p12 { padding: 12px; }
.p13 { padding: 13px; }
.p14 { padding: 14px; }
.p15 { padding: 15px; }
.p16 { padding: 16px; }
.p17 { padding: 17px; }
.p18 { padding: 18px; }
.p19 { padding: 19px; }
.p20 { padding: 20px; }
.p22 { padding: 22px; }
.p24 { padding: 23px; }
.p26 { padding: 26px; }
.p28 { padding: 28px; }
.p30 { padding: 30px; }
.p35 { padding: 35px; }
.p40 { padding: 40px; }
.p50 { padding: 40px; }
.p60 { padding: 60px; }

.p01e { padding: 0.1em; }
.p02e { padding: 0.2em; }
.p03e { padding: 0.3em; }
.p04e { padding: 0.4em; }
.p05e { padding: 0.5em; }
.p08e { padding: 0.8em; }
.p10e { padding: 1em; }
.p12e { padding: 1.2em; }
.p15e { padding: 1.5em; }
.p18e { padding: 1.8em; }
.p20e { padding: 2em; }
.p25e { padding: 2.5em; }
.p30e { padding: 3em; }
.p40e { padding: 4em; }
.p50e { padding: 5em; }
.p60e { padding: 6em; }
.p70e { padding: 7em; }
.p80e { padding: 8em; }
.p90e { padding: 9em; }


.pt1 { padding-top: 1px; }
.pt2 { padding-top: 2px; }
.pt3 { padding-top: 3px; }
.pt4 { padding-top: 4px; }
.pt5 { padding-top: 5px; }
.pt6 { padding-top: 6px; }
.pt7 { padding-top: 7px; }
.pt8 { padding-top: 8px; }
.pt9 { padding-top: 9px; }
.pt10 { padding-top: 10px; }
.pt11 { padding-top: 11px; }
.pt12 { padding-top: 12px; }
.pt13 { padding-top: 13px; }
.pt14 { padding-top: 14px; }
.pt15 { padding-top: 15px; }
.pt16 { padding-top: 16px; }
.pt17 { padding-top: 17px; }
.pt18 { padding-top: 18px; }
.pt19 { padding-top: 19px; }
.pt20 { padding-top: 20px; }
.pt22 { padding-top: 22px; }
.pt24 { padding-top: 24px; }
.pt26 { padding-top: 26px; }
.pt28 { padding-top: 28px; }
.pt30 { padding-top: 30px; }
.pt32 { padding-top: 32px; }
.pt35 { padding-top: 35px; }
.pt38 { padding-top: 38px; }
.pt40 { padding-top: 40px; }
.pt42 { padding-top: 42px; }
.pt45 { padding-top: 45px; }
.pt48 { padding-top: 48px; }
.pt50 { padding-top: 50px; }
.pt60 { padding-top: 60px; }
.pt70 { padding-top: 70px; }
.pt80 { padding-top: 80px; }
.pt90 { padding-top: 90px; }
.pt100 { padding-top: 100px; }

.pt01e { padding-top: 0.1em; }
.pt02e { padding-top: 0.2em; }
.pt03e { padding-top: 0.3em; }
.pt04e { padding-top: 0.4em; }
.pt05e { padding-top: 0.5em; }
.pt08e { padding-top: 0.8em; }
.pt10e { padding-top: 1em; }
.pt12e { padding-top: 1.2em; }
.pt15e { padding-top: 1.5em; }
.pt18e { padding-top: 1.8em; }
.pt20e { padding-top: 2em; }
.pt25e { padding-top: 2.5em; }
.pt30e { padding-top: 3em; }
.pt40e { padding-top: 4em; }
.pt50e { padding-top: 5em; }
.pt60e { padding-top: 6em; }
.pt70e { padding-top: 7em; }
.pt80e { padding-top: 8em; }
.pt90e { padding-top: 9em; }


.pb1 { padding-bottom: 1px; }
.pb2 { padding-bottom: 2px; }
.pb3 { padding-bottom: 3px; }
.pb4 { padding-bottom: 4px; }
.pb5 { padding-bottom: 5px; }
.pb6 { padding-bottom: 6px; }
.pb7 { padding-bottom: 7px; }
.pb8 { padding-bottom: 8px; }
.pb9 { padding-bottom: 9px; }
.pb10 { padding-bottom: 10px; }
.pb11 { padding-bottom: 11px; }
.pb12 { padding-bottom: 12px; }
.pb13 { padding-bottom: 13px; }
.pb14 { padding-bottom: 14px; }
.pb15 { padding-bottom: 15px; }
.pb16 { padding-bottom: 16px; }
.pb17 { padding-bottom: 17px; }
.pb18 { padding-bottom: 18px; }
.pb19 { padding-bottom: 19px; }
.pb20 { padding-bottom: 20px; }
.pb22 { padding-bottom: 22px; }
.pb24 { padding-bottom: 24px; }
.pb26 { padding-bottom: 26px; }
.pb28 { padding-bottom: 28px; }
.pb30 { padding-bottom: 30px; }
.pb32 { padding-bottom: 32px; }
.pb35 { padding-bottom: 35px; }
.pb38 { padding-bottom: 38px; }
.pb40 { padding-bottom: 40px; }
.pb42 { padding-bottom: 42px; }
.pb45 { padding-bottom: 45px; }
.pb48 { padding-bottom: 48px; }
.pb50 { padding-bottom: 50px; }
.pb60 { padding-bottom: 60px; }
.pb70 { padding-bottom: 70px; }
.pb80 { padding-bottom: 80px; }
.pb90 { padding-bottom: 90px; }
.pb100 { padding-bottom: 100px; }

.pb01e { padding-bottom: 0.1em; }
.pb02e { padding-bottom: 0.2em; }
.pb03e { padding-bottom: 0.3em; }
.pb04e { padding-bottom: 0.4em; }
.pb05e { padding-bottom: 0.5em; }
.pb08e { padding-bottom: 0.8em; }
.pb10e { padding-bottom: 1em; }
.pb12e { padding-bottom: 1.2em; }
.pb15e { padding-bottom: 1.5em; }
.pb18e { padding-bottom: 1.8em; }
.pb20e { padding-bottom: 2em; }
.pb25e { padding-bottom: 2.5em; }
.pb30e { padding-bottom: 3em; }
.pb40e { padding-bottom: 4em; }
.pb50e { padding-bottom: 5em; }
.pb60e { padding-bottom: 6em; }
.pb70e { padding-bottom: 7em; }
.pb80e { padding-bottom: 8em; }
.pb90e { padding-bottom: 9em; }


.pl1 { padding-left: 1px; }
.pl2 { padding-left: 2px; }
.pl3 { padding-left: 3px; }
.pl4 { padding-left: 4px; }
.pl5 { padding-left: 5px; }
.pl6 { padding-left: 6px; }
.pl7 { padding-left: 7px; }
.pl8 { padding-left: 8px; }
.pl9 { padding-left: 9px; }
.pl10 { padding-left: 10px; }
.pl11 { padding-left: 11px; }
.pl12 { padding-left: 12px; }
.pl13 { padding-left: 13px; }
.pl14 { padding-left: 14px; }
.pl15 { padding-left: 15px; }
.pl16 { padding-left: 16px; }
.pl17 { padding-left: 17px; }
.pl18 { padding-left: 18px; }
.pl19 { padding-left: 19px; }
.pl20 { padding-left: 20px; }
.pl22 { padding-left: 22px; }
.pl24 { padding-left: 24px; }
.pl26 { padding-left: 26px; }
.pl28 { padding-left: 28px; }
.pl30 { padding-left: 30px; }
.pl32 { padding-left: 32px; }
.pl35 { padding-left: 35px; }
.pl38 { padding-left: 38px; }
.pl40 { padding-left: 40px; }
.pl42 { padding-left: 42px; }
.pl45 { padding-left: 45px; }
.pl48 { padding-left: 48px; }
.pl50 { padding-left: 50px; }
.pl60 { padding-left: 60px; }
.pl70 { padding-left: 70px; }
.pl80 { padding-left: 80px; }
.pl90 { padding-left: 90px; }
.pl100 { padding-left: 100px; }

.pl01e { padding-left: 0.1em; }
.pl02e { padding-left: 0.2em; }
.pl03e { padding-left: 0.3em; }
.pl04e { padding-left: 0.4em; }
.pl05e { padding-left: 0.5em; }
.pl08e { padding-left: 0.8em; }
.pl10e { padding-left: 1em; }
.pl12e { padding-left: 1.2em; }
.pl15e { padding-left: 1.5em; }
.pl18e { padding-left: 1.8em; }
.pl20e { padding-left: 2em; }
.pl25e { padding-left: 2.5em; }
.pl30e { padding-left: 3em; }
.pl40e { padding-left: 4em; }
.pl50e { padding-left: 5em; }
.pl60e { padding-left: 6em; }
.pl70e { padding-left: 7em; }
.pl80e { padding-left: 8em; }
.pl90e { padding-left: 9em; }


.pr1 { padding-right: 1px; }
.pr2 { padding-right: 2px; }
.pr3 { padding-right: 3px; }
.pr4 { padding-right: 4px; }
.pr5 { padding-right: 5px; }
.pr6 { padding-right: 6px; }
.pr7 { padding-right: 7px; }
.pr8 { padding-right: 8px; }
.pr9 { padding-right: 9px; }
.pr10 { padding-right: 10px; }
.pr11 { padding-right: 11px; }
.pr12 { padding-right: 12px; }
.pr13 { padding-right: 13px; }
.pr14 { padding-right: 14px; }
.pr15 { padding-right: 15px; }
.pr16 { padding-right: 16px; }
.pr17 { padding-right: 17px; }
.pr18 { padding-right: 18px; }
.pr19 { padding-right: 19px; }
.pr20 { padding-right: 20px; }
.pr22 { padding-right: 22px; }
.pr24 { padding-right: 24px; }
.pr26 { padding-right: 26px; }
.pr28 { padding-right: 28px; }
.pr30 { padding-right: 30px; }
.pr32 { padding-right: 32px; }
.pr35 { padding-right: 35px; }
.pr38 { padding-right: 38px; }
.pr40 { padding-right: 40px; }
.pr42 { padding-right: 42px; }
.pr45 { padding-right: 45px; }
.pr48 { padding-right: 48px; }
.pr50 { padding-right: 50px; }
.pr60 { padding-right: 60px; }
.pr70 { padding-right: 70px; }
.pr80 { padding-right: 80px; }
.pr90 { padding-right: 90px; }
.pr100 { padding-right: 100px; }

.pr01e { padding-right: 0.1em; }
.pr02e { padding-right: 0.2em; }
.pr03e { padding-right: 0.3em; }
.pr04e { padding-right: 0.4em; }
.pr05e { padding-right: 0.5em; }
.pr08e { padding-right: 0.8em; }
.pr10e { padding-right: 1em; }
.pr12e { padding-right: 1.2em; }
.pr15e { padding-right: 1.5em; }
.pr18e { padding-right: 1.8em; }
.pr20e { padding-right: 2em; }
.pr25e { padding-right: 2.5em; }
.pr30e { padding-right: 3em; }
.pr40e { padding-right: 4em; }
.pr50e { padding-right: 5em; }
.pr60e { padding-right: 6em; }
.pr70e { padding-right: 7em; }
.pr80e { padding-right: 8em; }
.pr90e { padding-right: 9em; }


.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }
.z5 { z-index: 5; }
.z6 { z-index: 6; }
.z7 { z-index: 7; }
.z8 { z-index: 8; }
.z9 { z-index: 9; }


/* 边框 */

.bdred { border: 1px dashed red; }
.bdgreen { border: 1px dashed green; }
.bdblue { border: 1px dashed blue; }
.bdblack { border: 1px dashed black; }

/* -结束- 后面内容不属于本文档 */
